<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<!-- BEGIN HEAD -->
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/font-awesome/css/font-awesome.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/simple-line-icons/simple-line-icons.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/bootstrap/css/bootstrap.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css"
          rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/css/components.min.css"
          rel="stylesheet" id="style_components" type="text/css"/>
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/css/plugins.min.css"
          rel="stylesheet" type="text/css"/>
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/layouts/layout4/css/layout.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/layouts/layout4/css/themes/default.min.css"
          rel="stylesheet" type="text/css" id="style_color"/>
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/layouts/layout4/css/custom.min.css"
          rel="stylesheet" type="text/css"/>
    <!-- END THEME LAYOUT STYLES -->

    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet" type="text/css"/>
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/bootstrap-sweetalert/sweetalert.css"
          rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL PLUGINS -->

    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/city-picker/css/city-picker.css" rel="stylesheet" type="text/css"/>
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/vue/vue-resource1.3.4.js" rel="stylesheet" type="text/css"/>
	
	
</head>
<!-- END HEAD -->
<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-blue-hoki"></i>
                        <span class="caption-subject font-blue-hoki bold uppercase">创建运单</span>
                    </div>
                </div>
                <div class="portlet-body form" id="form">
                    <!-- BEGIN FORM-->
                    <form class="horizontal-form form-validation" novalidate="novalidate">
                        <div class="">

                            <h5 class="form-section"> <i class="fa fa-send"></i> 发货人信息</h5>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group form-md-line-input">
                                        <input type="text" class="form-control required" name="send_name" v-model="order.send_name"
                                               id="form_control_1" placeholder="输入发货人姓名"/>
                                        <label for="form_control_1">姓名
                                            <span class="required" aria-required="true">*</span>
                                        </label>
                                        <span class="help-block">输入发货人姓名...</span>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group form-md-line-input">
                                        <div class="input-group">
                                            <input type="text" class="form-control required number" name="send_phone" v-model="order.send_phone"
                                                   id="form_control_2" placeholder="输入发货人手机号"/>
                                            <label for="form_control_2">手机号
                                                <span class="required" aria-required="true">*</span>
                                            </label>
                                            <span class="help-block">输入发货人手机号...</span>
                                            <span class="input-group-addon">
                                                <i class="fa fa-phone"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group form-md-line-input">
                                        <input type="text" class="form-control required" name="send_addr" v-model="order.send_addr"
                                               id="form_control_13" placeholder="输入发货人地址" data-toggle="city-picker"/>
                                        <label for="form_control_13">发货地
                                            <span class="required" aria-required="true">*</span>
                                        </label>
                                        <span class="help-block">选择发货地...</span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input">
                                        <input type="text" class="form-control required" name="send_addr_info" v-model="order.send_addr_info"
                                               id="form_control_3" placeholder="输入发货人地址"/>
                                        <label for="form_control_3">详细地址
                                            <span class="required" aria-required="true">*</span>
                                        </label>
                                        <span class="help-block">输入发货人详细地址...</span>
                                    </div>
                                </div>
                            </div>

                            <h5 class="form-section"><i class="fa fa-reply"></i> 收货人信息</h5>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group form-md-line-input">
                                        <input type="text" class="form-control required" name="recive_name" v-model="order.recive_name"
                                               id="form_control_4" placeholder="输入收货人姓名"/>
                                        <label for="form_control_4">姓名
                                            <span class="required" aria-required="true">*</span>
                                        </label>
                                        <span class="help-block">输入收货人姓名...</span>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group form-md-line-input">
                                        <input type="text" class="form-control required number" name="recive_phone" v-model="order.recive_phone"
                                               id="form_control_5" placeholder="输入收货人手机号"/>
                                        <label for="form_control_5">手机号
                                            <span class="required" aria-required="true">*</span>
                                        </label>
                                        <span class="help-block">输入收货人手机号...</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group form-md-line-input">
                                        <input type="text" class="form-control required" name="recive_addr" v-model="order.recive_addr"
                                               id="form_control_16" placeholder="输入收货人地址" data-toggle="city-picker"/>
                                        <label for="form_control_16">收货地
                                            <span class="required" aria-required="true">*</span>
                                        </label>
                                        <span class="help-block">选择收货地...</span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input">
                                        <input type="text" class="form-control required" name="recive_addr_info" v-model="order.recive_addr_info"
                                               id="form_control_6" placeholder="收货人详细地址"/>
                                        <label for="form_control_6">详细地址
                                            <span class="required" aria-required="true">*</span>
                                        </label>
                                        <span class="help-block">输入收货人详细地址...</span>
                                    </div>
                                </div>
                            </div>

                            <h5 class="form-section"><i class="fa fa-truck"></i> 配送信息</h5>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group form-md-radios">
                                        <label for="form_control_1">配送方式</label>
                                        <div class="md-radio-inline">
                                            <div class="md-radio">
                                                <input type="radio" id="checkbox2_8" name="dispatching_type"  v-model="order.dispatching_type"
                                                       value="dispatching" class="md-radiobtn" checked="checked"/>
                                                <label for="checkbox2_8">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> 配送 </label>
                                            </div>
                                            <div class="md-radio">
                                                <input type="radio" id="checkbox2_9" name="dispatching_type"  v-model="order.dispatching_type"
                                                       value="since" class="md-radiobtn"/>
                                                <label for="checkbox2_9">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> 自提 </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group form-md-line-input">
                                        <input class="form-control form-control-inline input-medium date-picker required"
                                               size="16" type="text" value="" id="form_control_7" name="send_time" v-model="order.send_time"
                                               data-date-format="yyyy/mm/dd"/>
                                        <label for="form_control_7">预计发货时间
                                            <span class="required" aria-required="true">*</span>
                                        </label>
                                        <span class="help-block">选择预计发货时间...</span>
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group form-md-line-input">
                                        <input class="form-control form-control-inline input-medium date-picker required"
                                               size="16" type="text" value="" id="form_control_8" name="recive_time" v-model="order.recive_time"
                                               data-date-format="yyyy/mm/dd"/>
                                        <label for="form_control_8">限时到达时间
                                            <span class="required" aria-required="true">*</span>
                                        </label>
                                        <span class="help-block">选择限时到达时间...</span>
                                    </div>
                                </div>
                            </div>

                            <h5 class="form-section"><i class="fa fa-tasks"></i> 货物信息</h5>
                            <div class="row ">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="mt-repeater" id="goods_list">
                                            <div v-for="(good, index) in order.goods" class="row">
												<div class="col-md-3">
                                                    <div class="form-group form-md-line-input">
                                                        <input type="text" class="form-control required" :name="'goods['+index+'].name'" v-model="good.name"
                                                               id="form_control_41" placeholder="输入货物名称"/>
                                                        <label for="form_control_41">货物名称
                                                            <span class="required" aria-required="true">*</span>
                                                        </label>
                                                        <span class="help-block">输入货物名称...</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="control-label">大小尺寸</label>
                                                    <input type="text" placeholder="" class="form-control" :name="'goods['+index+'].size'"  v-model="good.size"/></div>
                                                <div class="col-md-2">
                                                    <label class="control-label">总重量</label>
                                                    <input type="text" placeholder="单位：吨" class="form-control" :name="'goods['+index+'].weight'"  v-model="good.weight"/>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">备注</label>
                                                    <textarea class="form-control" :name="'goods['+index+'].remark'"  v-model="good.remark"
                                                              rows="3"></textarea></div>
                                                <div class="col-md-1">
                                                    <label class="control-label">&nbsp;</label>
                                                    <a href="javascript:;" class="btn btn-danger form-control" v-on:click="deleteGoods(index)">
                                                        <i class="fa fa-close"></i> 删除
                                                    </a>
                                                </div>
                                            </div>
                                            <hr/>
                                            <a href="javascript:;" class="btn btn-info mt-repeater-add" v-on:click="addNewGoods">
                                                <i class="fa fa-plus"></i> 增加货物</a>
                                            <br/>
                                            <br/>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-actions right" v-on:click="submitOrder">
                            <button class="btn blue" type="submit">
                                <i class="fa fa-check"></i> 确定创建
                            </button>
                        </div>
                    
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE BASE CONTENT -->


<!-- BEGIN CORE PLUGINS -->
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/jquery.min.js"
        type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/bootstrap/js/bootstrap.min.js"
        type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/js.cookie.min.js"
        type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"
        type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/jquery.blockui.min.js"
        type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"
        type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/scripts/app.min.js"
        type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/layouts/layout4/scripts/layout.min.js"
        type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/layouts/layout4/scripts/demo.min.js"
        type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/layouts/global/scripts/quick-sidebar.min.js"
        type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/layouts/global/scripts/quick-nav.min.js"
        type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/moment.min.js"
        type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"
        type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"
        type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js"
        type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->

<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/jquery-validation/js/jquery.validate.min.js"
        type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/jquery-validation/js/localization/messages_zh.js"
        type="text/javascript"></script>
    
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/jquery-validation/js/additional-methods.min.js"
        type="text/javascript"></script>
<!--
<script th:src="@{/js/form-validation-role.min.js}" type="text/javascript"></script>
-->

<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/city-picker/js/city-picker.data.js" type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/city-picker/js/city-picker.js" type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/vue/vue2.3.4.js" type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/vue/vue-resource1.3.4.js" type="text/javascript"></script>



<script>
    $(".date-picker").datepicker({
        language: "zh-CN"
    });

    $('#target').citypicker();
    
    var e = $(".form-validation"),
        r = $(".alert-danger", e),
        i = $(".alert-success", e);
    $(".form-validation").validate({
        errorElement: "span",
        errorClass: "help-block help-block-error",
        focusInvalid: !1,
        ignore: "",
        invalidHandler: function(e, t) {
            i.hide(),
            r.show(),
            App.scrollTo(r, -200)
        },
        errorPlacement: function(e, r) {
            r.is(":checkbox") ? e.insertAfter(r.closest(".md-checkbox-list, .md-checkbox-inline, .checkbox-list, .checkbox-inline")) : r.is(":radio") ? e.insertAfter(r.closest(".md-radio-list, .md-radio-inline, .radio-list,.radio-inline")) : e.insertAfter(r)
        },
        highlight: function(e) {
            $(e).closest(".form-group").addClass("has-error")
        },
        unhighlight: function(e) {
            $(e).closest(".form-group").removeClass("has-error")
        },
        success: function(e) {
            e.closest(".form-group").removeClass("has-error")
        },
        submitHandler: function(e) {
            i.show(),
            r.hide()
        }
    });

    
    new Vue({
      el: '#form',
      data: {
          order:{
              send_name:"",
              send_phone:"",
              send_addr:"",
              send_addr_info:"",
              recive_phone:"",
              recive_addr:"",
              recive_addr_info:"",
              dispatching_type:"dispatching",
              send_time:"",
              recive_time:"",
              goods: [
                  {
                      name:"",
                      size:"",
                      weight:"",
                      remark:""
                  }
              ]
          }
      },
      methods: {
        addNewGoods: function () {
            this.order.goods.push({name:"",size:"",weight:"",remark:""});
        },
        deleteGoods: function (index) {
            this.order.goods.splice(index,1);  
        },
        submitOrder: function () {
            /*
            var resouce = this.$resource('http://localhost/v1/order/api/customer');
            
            var fd = new FormData();
            fd.append('send_name',this.order.send_name);
            fd.append('send_phone',this.order.send_phone);
            fd.append('send_addr',this.order.send_addr);
            fd.append('send_addr_info',this.order.send_addr_info);
            fd.append('recive_phone',this.order.recive_phone);
            fd.append('recive_addr',this.order.recive_addr);
            fd.append('recive_addr_info',this.order.recive_addr_info);
            fd.append('dispatching_type',this.order.dispatching_type);
            fd.append('send_time',this.order.send_time);
            fd.append('recive_time',this.order.recive_time);
            fd.append('goods',JSON.stringify(this.order.goods));
            
            resouce.save(this.order).then(
                function (response){
                    var result = $.parseJSON(response.bodyText);
                    if(result.success)
                        {
                            alert('成功！');
                        }
                },
                function (error){
                    console.log(error);
                }
            );*/
        }
      }
    })
</script>
</html>