<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- BEGIN HEAD -->
<head>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/font-awesome/css/font-awesome.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/simple-line-icons/simple-line-icons.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/bootstrap/css/bootstrap.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css"
          rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/css/components.min.css"
          rel="stylesheet" id="style_components" type="text/css"/>
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/css/plugins.min.css"
          rel="stylesheet" type="text/css"/>
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/layouts/layout4/css/layout.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/layouts/layout4/css/themes/default.min.css"
          rel="stylesheet" type="text/css" id="style_color"/>
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/layouts/layout4/css/custom.min.css"
          rel="stylesheet" type="text/css"/>
    <!-- END THEME LAYOUT STYLES -->
</head>
<!-- END HEAD -->
<!-- BEGIN PAGE HEAD-->
<div class="page-head">

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-blue-hoki"></i>
                        <span class="caption-subject font-blue-hoki bold uppercase">所有运单</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form role="form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-md-line-input has-success">
                                        <div class="input-icon">
                                            <input type="text" class="form-control" placeholder="Left icon"/>
                                            <label for="form_control_1">运单号</label>
                                            <span class="help-block">Some help goes here</span>
                                            <i class="fa fa-bell-o"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-md-line-input has-warning">
                                        <input type="text" class="form-control" id="form_control_1" placeholder="Warning state"/>
                                        <label for="form_control_1">司机</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-md-line-input has-error">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Email Address"/>
                                            <label for="form_control_1">车牌</label>
                                            <span class="input-group-addon">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group form-md-checkboxes">
                                        <label>运单状态</label>
                                        <div class="md-checkbox-inline">
                                            <div class="md-checkbox">
                                                <input type="checkbox" id="checkbox6" class="md-check"/>
                                                <label for="checkbox6">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> 未发货 </label>
                                            </div>
                                            <div class="md-checkbox">
                                                <input type="checkbox" id="checkbox7" class="md-check" checked=""/>
                                                <label for="checkbox7">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> 运输中 </label>
                                            </div>
                                            <div class="md-checkbox">
                                                <input type="checkbox" id="checkbox8" class="md-check"/>
                                                <label for="checkbox8">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> 已完成 </label>
                                            </div>
                                            <div class="md-checkbox">
                                                <input type="checkbox" id="checkbox9" class="md-check"/>
                                                <label for="checkbox9">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> 已取消 </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-10"></div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-circle green btn-block"><i class="fa fa-search"></i> 搜索 </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <!-- BEGIN BORDERED TABLE PORTLET-->
            <div class="portlet light portlet-fit bordered ">
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th> 运单号</th>
                                <th> 收货人</th>
                                <th> 配送信息</th>
                                <th> 位置信息</th>
                                <th> 状态</th>
                                <th> 操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="list : ${data.item}" >
                                <td>
                                    <a th:href="@{taking_info(id=${list.id})}" th:text="${list.orderCustomer.order_number}"></a>
                                    <p th:text="'下单时间：'"></p>
                                    <p th:text="'接单时间：'"></p>
                                </td>
                                <td th:text="${list.orderCustomer.send_name}">

                                </td>
                                <td th:text="${list.driver.name}"></td>
                                <td> 无定位 </td>
                                <td th:text="${list.status}"></td>

                                <td><a th:href ="@{pending_success(id=${list.id})}" class="btn btn-circle green-jungle"><i class="fa fa fa-truck"></i> 派车 </a>
                                    <br/>
                                    <br/>
                                    <a th:href ="@{pending_ignor(id=${list.id})}" class="btn btn-default"><i class="fa fa-hand-paper-o"></i> 忽略 </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END BORDERED TABLE PORTLET-->
        </div>
    </div>
</div>
<!-- END PAGE BASE CONTENT -->

<!-- BEGIN CORE PLUGINS -->
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/jquery.min.js"
        type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/bootstrap/js/bootstrap.min.js"
        type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/js.cookie.min.js"
        type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"
        type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/jquery.blockui.min.js"
        type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"
        type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/scripts/app.min.js"
        type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/layouts/layout4/scripts/layout.min.js"
        type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/layouts/layout4/scripts/demo.min.js"
        type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/layouts/global/scripts/quick-sidebar.min.js"
        type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/layouts/global/scripts/quick-nav.min.js"
        type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
</html>