<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- BEGIN HEAD -->
<head>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/font-awesome/css/font-awesome.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/simple-line-icons/simple-line-icons.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/bootstrap/css/bootstrap.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css"
          rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->

    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/css/components.min.css"
          rel="stylesheet" id="style_components" type="text/css"/>
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/css/plugins.min.css"
          rel="stylesheet" type="text/css"/>
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/layouts/layout4/css/layout.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/layouts/layout4/css/themes/default.min.css"
          rel="stylesheet" type="text/css" id="style_color"/>
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/layouts/layout4/css/custom.min.css"
          rel="stylesheet" type="text/css"/>
    <!-- END THEME LAYOUT STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->

</head>
<!-- END HEAD -->
<!-- BEGIN PAGE HEAD-->
<div class="page-head">

    <div class="row">
        <!--
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-blue-hoki"></i>
                        <span class="caption-subject font-blue-hoki bold uppercase">所有运单</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form role="form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-md-line-input has-success">
                                        <div class="input-icon">
                                            <input type="text" class="form-control" placeholder="Left icon"/>
                                            <label for="form_control_1">运单号</label>
                                            <span class="help-block">Some help goes here</span>
                                            <i class="fa fa-bell-o"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-md-line-input has-warning">
                                        <input type="text" class="form-control" id="form_control_1" placeholder="Warning state"/>
                                        <label for="form_control_1">司机</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-md-line-input has-error">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Email Address"/>
                                            <label for="form_control_1">车牌</label>
                                            <span class="input-group-addon">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group form-md-checkboxes">
                                        <label>运单状态</label>
                                        <div class="md-checkbox-inline">
                                            <div class="md-checkbox">
                                                <input type="checkbox" id="checkbox6" class="md-check"/>
                                                <label for="checkbox6">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> 未发货 </label>
                                            </div>
                                            <div class="md-checkbox">
                                                <input type="checkbox" id="checkbox7" class="md-check" checked=""/>
                                                <label for="checkbox7">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> 运输中 </label>
                                            </div>
                                            <div class="md-checkbox">
                                                <input type="checkbox" id="checkbox8" class="md-check"/>
                                                <label for="checkbox8">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> 已完成 </label>
                                            </div>
                                            <div class="md-checkbox">
                                                <input type="checkbox" id="checkbox9" class="md-check"/>
                                                <label for="checkbox9">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> 已取消 </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-10"></div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-circle green btn-block"><i class="fa fa-search"></i> 搜索 </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        -->
        <div class="col-md-12">
            <!-- BEGIN BORDERED TABLE PORTLET-->
            <div class="portlet light portlet-fit bordered ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-blue-hoki"></i>
                        <span class="caption-subject font-blue-hoki bold uppercase">所有运单</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th> 运单号</th>
                                <th> 收货人</th>
                                <th> 配送信息</th>
                                <th> 位置信息</th>
                                <th> 状态</th>
                                <th> 操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="list : ${data.item}" >
                                <td>
                                    <a th:href="@{taking_info(id=${list.orderCustomer.id})}" th:text="${list.orderCustomer.order_number}"></a>
                                    <h6 th:text="'下单时间：' + ${#dates.format(list.orderCustomer.time,'yyyy-MM-dd HH:mm')}"></h6>
                                    <h6 th:text="'接单时间：' + ${#dates.format(list.orderCustomer.time,'yyyy-MM-dd HH:mm')}"></h6>
                                </td>
                                <td>
                                    <h6 th:text="${list.orderCustomer.send_name} + '|' + ${list.orderCustomer.send_phone}"></h6>
                                    <h6 th:text="${list.orderCustomer.send_addr}"></h6>
                                </td>
                                <td>
                                    <h6 th:text="${list.driver.name} +'|' + ${list.driver.phone}"></h6>
                                    <h6 th:text="'车牌号：'+${list.car.plate}"></h6>
                                </td>
                                <td> 无定位 </td>
                                <td th:switch="${list.orderCustomer.status}">
                                    <span th:case="ORDER_TAKING" th:text="已发货" class="label label-warning"></span>
                                    <span th:case="ORDER_SIGN" th:text="已完成" class="label label-success"></span>
                                </td>

                                <td>
                                    <a th:if="${list.orderCustomer.status eq 'ORDER_TAKING'}" class="btn btn-circle green-jungle"  data-toggle="modal" href="#responsive" th:onclick="'onfinish('+${list.orderCustomer.id}+')'"><i class="fa fa fa-truck"></i> 签收运单 </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END BORDERED TABLE PORTLET-->
        </div>
    </div>
</div>
<!-- END PAGE BASE CONTENT -->
<div id="responsive" class="modal fade" tabindex="-1" data-width="760" aria-hidden="true" style="display: none; width: 760px; margin-left: -379px; margin-top: -289px;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">签收运单</h4>
    </div>
    <form th:action="@{taking_finish}" method="post" enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                    <input type="hidden" id="modal_id" name="order_taking_id"/>

                    <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 400px; height: 200px; line-height: 150px;"> </div>
                            <div>
                            <span class="btn red btn-outline btn-file">
                                <span class="fileinput-new"> 运单拍照上传 </span>
                                <span class="fileinput-exists"> 更改 </span>
                                <input type="hidden"/>
                                <input type="file" name="order_img" class="required"/> </span>
                                <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                            </div>
                        </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn green">提交签收</button>
    </div>
    </form>
</div>
<!-- BEGIN CORE PLUGINS -->
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/jquery.min.js"
        type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/bootstrap/js/bootstrap.min.js"
        type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/js.cookie.min.js"
        type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"
        type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/jquery.blockui.min.js"
        type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"
        type="text/javascript"></script>
<!-- END CORE PLUGINS -->

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/scripts/app.min.js"
        type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/layouts/layout4/scripts/layout.min.js"
        type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/layouts/layout4/scripts/demo.min.js"
        type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/layouts/global/scripts/quick-sidebar.min.js"
        type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/layouts/global/scripts/quick-nav.min.js"
        type="text/javascript"></script>

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="http://avatarcn-html.oss-cn-hangzhou.aliyuncs.com/metronic_v4.7.5/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
<script th:src="@{/js/form-validation-role.min.js}" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
<script  th:inline="javascript">
    function onfinish(id){
        $("#modal_id").val(id);
    };

    $(function() {
        var alert = [[${message}]];
        if(alert != null)
            swal("成功!", alert, "success");
    });
</script>

</html>